body{
    color: rgb(240, 248, 255);
    font-size: 1.2em;
}

form{
    margin: auto;
    background-color: indigo;
    width: 500px;
    border-color: rgb(62, 3, 101);
    border-style:solid;
}

.label{
    display: inline-block;
    width: 210px;
    vertical-align: top;
    text-align: left;
    margin-right: 5px;
    padding: 2px 5px 2px 9px; 
}
input[type=text],input[type=email]{
    background-color: rgba(255,255,255,.5);
    color: rgba(255,255,255,1);
    box-shadow: inset 0 0 10px rgba(255,255,255, .75);
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

input[type=text]:focus{
    background-color: black;
    color: black;
}

input[type=submit], input[type=reset]{
    background-color: navy;
    box-shadow: 0 0 4px white;
    color:rgb(255, 255, 255);
    width:105px;
    height:25px;
}