table{
    empty-cells: hide;
    border-spacing: 0px;
    width: 260px;
    text-align: center;
}

caption{
    font-size: 1.2em;
    text-align: center;
}

th,td{
    border: gray solid;
    padding: 5px;
}

th{
    background-color: darkblue;
    color: aliceblue;
}

td:nth-child(3n){
    background-color: purple;
    color: aliceblue;
}

td:last-child{
    background-color: green;
    color: aliceblue;
}

td:nth-child(+2) {
    background-color: #0BFF;
    color:aliceblue;
}

