table{
    border-style: solid;
    border-width: 5px;
    border-color: #d8b1bf;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: 0px;
    border-style: solid;
    border-width: 2 px;
    border-color: #d8b1bf;

}

.td1{
    background: #800000;
    text-align: center;
    color: aliceblue;
}

.td2{
    text-align: center;
}

.tr1{
    background: #de5454;
    text-align: center;
    color: aliceblue;
}

.gr{
    background: #800000;
    text-align: center;
    color: aliceblue;
}

.class{
    padding: 4px;
}

