.nav>ul>li{
    float:left;
    width:200px;
    position: relative;
}

.nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.nav li:hover ul {
    display:block;  
    
}

.nav li a {
    display: block;
    background: yellow;
    border: 2px solid black;
    padding: 8px;
    text-decoration: none;
}

.nav li .second a {
    display: block;
    color: black;
    background: rgb(219, 125, 125);
    border: 2px dotted black;
    padding: 8px;
    text-decoration: none;
}       
.nav li .second {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
}
.nav li:hover .second{
    display: block;
    text-decoration: none;
}
.nav li li {
    width:150px;
}


