body{
    background-image: url(2.jpg);
    background-position: right top;
    background-size: 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ol{
    font-size: 35px;
}

ul li{
    list-style-type: none;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 60px;
    margin-bottom: 10px;
    }

p{
    text-indent: 100px;
    margin: 0;
}

.class1{
    float: left;
    width: 500px;
    margin: 4px 10px 2px 0px;
}

.class2{
    float: right;
    width: 500px;
    margin: 0px 10px 2px 0px;
}